
@model WebApplicationMVC.ModelsViewData.HomeViewData
<div class="homeCertificados">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
            <div class="certificados">
                <div class="row">
                    <div class="card um" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_1.png" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_1.png" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">Lógica de Programação</h5>
                        </div>
                    </div>
                    <div class="card dois" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_2.png" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_2.png" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">HTML 5 Básico</h5>
                        </div>
                    </div>
                    <div class="card tres" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_3.png" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_3.png" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">CSS 3 Básico</h5>
                        </div>
                    </div>
                    <div class="card quatro" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_4.png" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_4.png" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">C# Básico</h5>
                        </div>
                    </div>
                    <div class="card cinco" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_5.png" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_5.png" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">C# Avançado</h5>
                        </div>
                    </div>
                    <div class="card seis" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_6.jpg" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_6.jpg" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">Licenciatura em Ed. Física</h5>
                        </div>
                    </div>
                    <div class="card sete" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_7.jpg" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_7.jpg" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">Bacharelado em Ed. Física</h5>
                        </div>
                    </div>
                    <div class="card oito" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_8.png" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_8.png" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">HTML Básico</h5>
                        </div>
                    </div>
                    <div class="card nove" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_9.png" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_9.png" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">Espanhol Básico</h5>
                        </div>
                    </div>
                    <div class="card dez" style="width: 200px;height: 200px;">
                        <a href="~/assets/images/card_10.png" title="Clique aqui para ampliar"><img class="card-img-top" src="~/assets/images/card_10.png" alt="Imagem de capa do card" src="link da imagem" width="90" height="90" /></a>
                        <div class="card-body">
                            <h5 class="card-title">Espanhol Intermediário</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>