
@model WebApplicationMVC.ModelsViewData.HomeViewData
<div class="homeSobre">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
            <div class="cont_sobre">
                <div class="caixaUm_sobre">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h1 class="titulo_sobre">Dielle de Oliveira Ribeiro</h1>
                        <div class="row">
                            <div class="imagem_sobre">
                                <img src="~/assets/images/Wikipedia.png" style="width: 150px;height: 150px;" />
                            </div>
                            <h1 class="tema_sobre">Biografia</h1>
                            <p class="paragrafo_sobre">
                                Nascida e criada em Brasília, aos 17 anos me mudei para cidade Goiânia onde tive a minha única filha (Ana Beatriz) aos 19 anos de idade.
                                Aos 22 anos consegui uma bolsa de estudos através do Enem no curso que desejava (Licenciatura em Educação Física), agarrei a oportunidade e me formei no ano de 2017 aos 26 anos de idade.
                                Ao me formar percebi que o mercado de trabalho para licenciados era desfavorável e havia uma necessidade de complementar os estudos com um curso de Bacharelado.
                                No mesmo ano decidi investir na minha carreira e me mudei para a cidade do Rio de Janeiro, que é uma cidade mais esportiva. Comecei trabalhar na área e dei início a minha segunda graducação,
                                agora Bacharelado em Educação física. Após dois anos no Rio de Janeiro, percebi que apesar de ser uma grande cidade não há oportunidade de crescimento profissional,
                                foi então que no final do ano de 2019 me mudei pra cidade de São Paulo em busca de oportunidades e crescimento profissional. Chegando em São Paulo comecei trabalhar em uma assessoria esportiva. Infelizmente no começo de 2020 deu início a pandemia do Covid 19 e a empresa dispensou seus professores.
                                Nesse momento decidi que Educação Física não me traria o crescimento profissional que tanto almejava e decidi recomeçar em uma nova carreira. Comecei um trabalho Home Office, para manter as dispesas e no tempo restante comecei estudar inglês, lógica e linguagem de programação.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="caixa_sobre">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="imagem_sobre">
                                <img src="~/assets/images/linguagem.jpg" style="width: 150px;height: 150px;" />
                            </div>
                            <h1 class="tema_sobre">Tecnologias</h1>
                            <ul class="listas_sobre">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                                <li>Media Query</li>
                                <li>Java Script</li>
                                <li>C#</li>
                                <li>.NET Framework</li>
                                <li>MVC</li>
                                <li>SQL Server</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="caixa_sobre">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="imagem_sobre">
                                <img src="~/assets/images/Formacao.jpg" style="width: 150px;height: 150px;" />
                            </div>
                            <h1 class="tema_sobre">Formação Acadêmica</h1>
                            <ul class="listas_sobre list_fomr">
                                <li>2013-2017 - Licenciatura em Educação Física - Pontifícia Universidade Católica de Goiás (PUC-GO).</li>
                                <li>2018-2019 - Bacharelado em Educação Física - Centro Universitário Leonardo Da Vinci (UNIASSELVI).</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="caixa_sobre">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="imagem_sobre">
                                <img src="~/assets/images/Idiomas.jpg" style="width: 150px;height: 150px;" />
                            </div>
                            <h1 class="tema_sobre">Idiomas</h1>
                            <ul class="listas_sobre">
                                <li>Potuguês -Nativo</li>
                                <li>Espanhol - Fluente</li>
                                <li>Inglês - Básico</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="caixa_sobre">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="imagem_sobre">
                                <img src="~/assets/images/Qualidades.png" style="width: 150px;height: 150px;" />
                            </div>
                            <h1 class="tema_sobre">Qualidades</h1>
                            <ul class="listas_sobre">
                                <li>Capacidade Analítica</li>
                                <li>Raciocício Lógico</li>
                                <li>Persistência</li>
                                <li>Foco</li>
                                <li>Dedicação</li>
                                <li>Autodidata</li>
                                <li>Resiliência</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>