<footer>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
            <div class="midia">
                <a class="facebook" href="https://www.facebook.com/greendielle" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a class="github" href="https://github.com/Diellita" target="_blank"><i class="fab fa-github-square"></i></a>
                <a class="linkedin" href="https://www.linkedin.com/in/dielle-oliveira-ribeiro-6aa822199/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="whatsapp" href="https://whats.link/httpsapiwhatsappcomsendphone5511932009663textolc3a120dielle2c20acabei20de20vizualizar20seu20github" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a class="email"><i class="far fa-envelope"> prof.dielle@gmail.com</i></a>
            </div>
        </div>
    </div>
</footer>
